/* Styles entire page to have this background color */
html {
    background-color: #81e689;
}
/* Makes all text white by default */
body {
    color: white;
}
/* Centers h1 tags, gives them a unique font, removes margin to allow for styling with ids, and changes the font size */
h1 {
    font-family: Verdana, sans-serif;
    text-align: center;
    margin: 0px;
    font-size: 2.25em;
}
h2 {
    font-family: Helvetica, sans-serif;
    margin: 10px;
    font-size: 1.75em;
}
h3 {
    font-family: Helvetica, sans-serif;
    margin: 3px;
    font-size: 1.42em;
}
/* Standardizes font and size for body text */
p, li {
    font-family: Arial, sans-serif;
    font-size: 1.25em;
}
nav {
    font-size: 1em;
}
/* Rounds the corners of images to give the site a softer feel */
img {
    border-radius: 20px;
}
/* Styles the links in the navigation bar */
nav a {
    font-family: Arial, sans-serif;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}
/* Makes links always this color when not being interacted with*/
a:link, a:visited {
    color: white;
}
/* Makes links another color when the cursor hovers over them */
a:hover {
    color: #d1ffca;
}
/* Separates the websites topics into visual sections */
section {
    background-color: #04800a;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 15px;
}
/* Pushes footer to the right */
footer {
    text-align: right;
}

/* Creates a button to style the links that navigate between pages */
.button {
    background-color: #0a7a0f;
    border: 2px solid black;
    border-radius: 16px;
    padding: 12px;
    font-size: 1.25em;
    font-family: Copperplate, fantasy;
    text-decoration: none;
}
/* Puts select sections into a container and places them side by side */
.container {
    display: flex;
    flex-direction: row;
}
/* Puts border and spacing on images in the images sections */
.images {
    border: 4px outset #451501;
    margin: 0px 2px;
    width: 240px;
}
/* Wraps and centers images so when browser size changes, images stay formatted neatly */
.image_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
/* Unique design for the header on the homepage */
#homeheader {
    background-color: #af5913;
    color: white;
    border: 8px inset #451501;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 15px;
    gap: 10px;
}
/* Slightly different design for the header on page 2 */
#page2header {
    background-color: #af5913;
    color: white;
    border: 8px outset #451501;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 15px;
    gap: 10px;
}


/* Changes formatting for screen width of 450px or less */
@media (max-width: 450px) {
  h1 {
    font-size: 2.15em;
  }
  h2 {
    font-size: 1.65em;
  }
  h3 {
    font-size: 1.32em;
  }
  p, li {
    font-size: 1.15em;
  }
  nav {
    font-size: .9em;
  }
  header img {
    width: 240px;
  }
  section {
    margin: 10px;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 15px;
  }
  footer {
    margin-top: 20px;
  }

  .button {
    font-size: 1.15em;
  }
  .container {
    flex-direction: column;
  }
  .images {
    width: 120px;
    margin: 2px 2px;
  }
}